.container {
  @apply fixed top-0 z-50 w-full  h-[80px]   bg-white text-black flex flex-row justify-between items-center px-7;
  transition: background-color 0.5s ease;
}
.buttonmenu {
  @apply text-[#264E85];
  transition: background-color 0.5s ease;
}

.buttonmenuactive {
  @apply text-white;
  transition: background-color 0.5s ease;
}

.scrolling {
  @apply bg-[#264E85] text-[#F3F3F3];
  transition: background-color 0.5s ease;
}

.active {
  @apply text-[#264E85]  font-semibold;
  transition: background-color 0.3s ease;
}

.wrapper_menu {
  @apply w-full flex flex-row justify-end gap-5;
}

.text {
  @apply mb-[15px]  w-36 h-9 text-center text-xl cursor-pointer   font-light;
}

.activetext {
  @apply text-[#fdfdfb]  font-bold;
  transition: background-color 0.3s ease;
}
