.container {
  @apply mt-[43px] md:mt-12  w-full;
}

.title {
  @apply px-[39px] md:px-24 font-bold text-xl md:text-[40px] text-[#264E85] mb-[13px] md:mb-9;
}

.desc {
  @apply px-[39px] md:px-24 text-black text-[10px] md:text-lg  text-justify mb-[30px] md:mb-6;
}

.wrapper_img {
  @apply relative w-full h-[113px] md:md:h-[407px] bg-white flex flex-row mb-[43px] md:mb-36;
}

.img {
  @apply w-[16.66666%] h-[113px] md:md:h-[407px]  relative;
}

.text {
  @apply w-[16.6%] text-center text-[8px] md:text-[25px] font-semibold text-[#264E85];
}

/* .text {
  @apply absolute  bg-white  h-[21px] md:h-[79px] w-full text-center flex justify-center items-center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */
