.container {
  @apply mt-12  w-full;
}

.title {
  @apply px-24 font-bold text-[45px] text-[#264E85] mb-9;
}

.desc {
  @apply px-24 text-black text-lg  text-justify mb-10;
}

.wrapper_img {
  @apply w-full h-[407px]  flex flex-row mb-36;
}

.img {
  @apply w-[16.6%] h-[407px]  relative;
}

.text {
  @apply absolute text-[30px] font-semibold text-[#264E85] bg-white h-[79px] w-full text-center flex justify-center items-center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
